In [11]:
#import dependencies
import pandas as pd
import numpy as np

#load csv file
csv_path = "Resources/purchase_data.csv"

#read csv file
purchase_data = pd.read_csv(csv_path)

In [29]:
#display purchase_data df
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [30]:
#display total number of unique players
unique_names = purchase_data["SN"].unique()
total_players_df = len(unique_names)
total_players_df

576

In [31]:
#calculate unique items
unique_items = purchase_data["Item ID"].unique()
total_items = len(unique_items)
total_items

179

In [32]:
#calculate average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [33]:
#calculate total revenue
revenue_df = purchase_data["Price"].sum()
revenue_df

2379.77

In [34]:
#calculate total amount of sales
sales_df = purchase_data["Purchase ID"].count()
sales_df

780

In [40]:
#Create a summary data frame to hold the results
purchase_summary_df = pd.DataFrame({"Number of Unique Players": [total_players_df],
                           "Number of Unique Items": [total_items],
                           "Average Price of Items": [average_price],
                           "Total Amount of Sales": [sales_df],
                           "Total Revenue": [revenue_df]})

#Optional: give the displayed data cleaner formatting
purchase_summary_df["Average Price of Items"] = purchase_summary_df["Average Price of Items"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:.}")
purchase_summary_df

,Number of Unique Players,Number of Unique Items,Average Price of Items,Total Amount of Sales,Total Revenue
0,576,179,$3.05,780,2379.77