In [11]:
#import dependencies
import pandas as pd
import numpy as np

#load csv file
csv_path = "Resources/purchase_data.csv"

#read csv file
purchase_data = pd.read_csv(csv_path)

In [29]:
#display purchase_data df
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [30]:
#display total number of unique players
unique_names = purchase_data["SN"].unique()
total_players_df = len(unique_names)
total_players_df

576

In [31]:
#calculate unique items
unique_items = purchase_data["Item ID"].unique()
total_items = len(unique_items)
total_items

179

In [32]:
#calculate average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [33]:
#calculate total revenue
revenue_df = purchase_data["Price"].sum()
revenue_df

2379.77

In [34]:
#calculate total amount of sales
sales_df = purchase_data["Purchase ID"].count()
sales_df

780

In [62]:
#Create a summary data frame to hold the results
purchase_summary_df = pd.DataFrame({"Number of Unique Players": [total_players_df],
                           "Number of Unique Items": [total_items],
                           "Average Price": [average_price],
                           "Number of Purchases": [sales_df],
                           "Total Revenue": [revenue_df]})

#Optional: give the displayed data cleaner formatting 
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,.2f}".format)

#Display the PURCHASING ANALYSIS summary data frame
purchase_summary_df

,Number of Unique Players,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

In [67]:
#get total count of genders
gender_df = purchase_data.groupby(["Gender"])

#calculate unique names grouped by gender
gender_count = gender_df["SN"].nunique()

#calculate percentages
percentage_df = gender_count/total*100
percentage_df

#create new data frame for gender analysis
demographics_df = pd.DataFrame({"Total Count": gender_count,
                                "Percentage of Players": percentage_df})

#sort total count from highest to lowest
demographics_df = demographics_df.sort_values("Total Count", ascending=False)

#remove Gender line
demographics_df = demographics_df.rename_axis([""])

#clean data and add percent sign
demographics_df["Percentage of Players"] = demographics_df["Percentage of Players"].map("{:.2f}%".format)

#Display the summary data frame for GENDER DEMOGRAPHICS
demographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [68]:
#Calculate purchase count
purchase_count_df = gender_df["Purchase ID"].count()
purchase_count_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [71]:
#calculate average purchase price
average_count_df = gender_df["Price"].mean()
average_count_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [72]:
#calculate average purchase total
purchase_total_df = gender_df["Price"].sum()
average_total_df = purchase_total_df/gender_count
average_total_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [77]:
#Create a summary data frame to hold the results for PURCHASING ANALYSIS
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                       "Average Purchase Price": average_count_df,
                                       "Total Purchase Value": purchase_total_df,
                                       "Avg Total Purchase per Person": average_total_df})

#clean data
purchasing_analysis_df["Average Purchase Price"]= purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"]= purchasing_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_df["Avg Total Purchase per Person"]= purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

#display data frame for PURCHASING ANALYSIS
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56